API_BASE_URL=https://api.practicesoftwaretesting.com/
TEST_CUSTOMER01_EMAIL=customer@practicesoftwaretesting.com
TEST_CUSTOMER01_PASSWORD=welcome01
TEST_CUSTOMER03_EMAIL=customer3@practicesoftwaretesting.com
TEST_CUSTOMER03_PASSWORD=welcome01
